<!DOCTYPE html>
<html lang="en">
<head>
    <title>Project</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Enable tooltips for this page -->
    <script type="text/javascript">
        $(function () {
          $('[data-toggle="tooltip"]').tooltip()
      })
    </script>
    <style type="text/css">h5>a:visited{color:#999}</style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class=".col-md-8 .col-md-offset-2">
                <h1>Welcome <%= @name %></h1>
                <h4>Some news for you...</h4>
            </div>
        </div>
        <div class="row">
            <div class=".col-md-8 .col-md-offset-2">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <tbody>
                            <%@stream.each do |item|
                                url = item[0]
                                title = item[1]
                                source = item[2]
                                %>
                                <tr>
                                    <td>
                                        <h5><a href="<%= @name %>/redirect?url=<%= url %>" target="_blank"><%= title %></a><small> <%= source %></small></h5>
                                    </td>
                                    <td>
                                        <a class="btn btn-success" href="<%= @name %>/like?url=<%= url %>" role="button" data-toggle="tooltip" data-placement="top" title="You find this item interesting"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></a>
                                        <a class="btn btn-danger" href="<%= @name %>/dislike?url=<%= url %>" role="button" data-toggle="tooltip" data-placement="top" title="You dislike this item"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span></a>
                                        <a class="btn btn-warning" href="<%= @name %>/irrelevant?url=<%= url %>" role="button" data-toggle="tooltip" data-placement="top" title="This item is irrelevant to your interests"><span class="glyphicon glyphicon-trash" aria-hidden="true"></a>
                                    </td>
                                </tr>
                                <% end %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </body>