<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= @name %>'s Stream <%= SiteName %></title>
    <!-- Bootstrap -->
    <link href="<%=StyleSheet%>" rel="stylesheet">

    <%=Favicon%>

    <!-- Custom page style -->
    <style type="text/css">
        p.streamButtons {
            margin: 0px
        }
        a.stream, .table a:not(.btn), .table a:not(.btn) {
            text-decoration: none;
        }
        a.stream:hover {
            text-decoration: underline;
        }
    </style>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Enable tooltips for this page -->
    <script type="text/javascript">
        $(function () {
          $('[data-toggle="tooltip"]').tooltip()
      })
    </script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class=".col-md-8 .col-md-offset-2">
                <h1>Hello <%= @name %>, welcome to Fleek.in</h1>
                <%=erb :'partials/welcome'%>
            </div>
        </div>
        <div class="row">
            <div class=".col-md-8 .col-md-offset-2">
                <% if !@stream.empty? %>
                <div class="table-responsive">
                    <table class="table table-hover stream">
                        <tbody>
                            <%@stream.each do |item|
                                url = item[0]
                                title = item[1]
                                source = item[2]
                                author = item[3]
                                age = item[4]
                                %>
                                <tr>
                                    <td>
                                        <h4>
                                            <a class="stream" href="<%= @name %>/redirect?url=<%= url %>" target="_blank"><%= title %></a> <small> <%= source %>
                                            <% if author.length > 2 && author != "undefined" && author != source %>
                                            by <%= author %>
                                            <%end%></small> <%if age == "new"%><span class="label label-success">New</span><%elsif age == "old"%><span class="label label-danger">Old</span><%end%>
                                        </h4>
                                    </td>
                                    <td>
                                        <p class="text-right streamButtons">
                                            <a class="btn btn-success" href="<%= @name %>/like?url=<%= url %>" role="button" data-toggle="tooltip" data-placement="top" title data-original-title="You like this item, it has content that interests you"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></a>
                                            <a class="btn btn-danger" href="<%= @name %>/dislike?url=<%= url %>" role="button" data-toggle="tooltip" data-placement="top" title data-original-title="You don't like this item, it isn't interesting to you"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span></a>
                                        </p>
                                    </td>
                                </tr>
                                <% end %>
                            </tbody>
                        </table>
                    </div>
                    <% end %>
                    <% if @stream.empty? %>
                    <h3>Sadly there's nothing new for you to read at the moment...</h3>
                    <p>Maybe adding a website you know you like will help?</p>
                    <% end %>
                </div>
            </div>
            <div class="row">
                <div class=".col-md-8 .col-md-offset-2">
                    <%=erb :'partials/streamFooter'%>
                </div>
            </div>
            
        </div>
    </div>
    <%=erb :'partials/footerButtons'%>
</body>